<footer class="site-footer">

  <div class="wrapper">

    <div class="site-description">
      <p>
        {{ site.description }}
        <span class="version">
          (fdroid-website <a href="https://gitlab.com/fdroid/fdroid-website/tree/{% git_hash %}">{% git_tag %}</a>)
        </span>
      </p>
    </div>

  </div>

</footer>
