---
layout: post
title: "Repository Client 0.14"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.14, is now available. You can get it from the <a href="{{ site.baseurl }}/repository">repository page</a> or, if you already have an earlier version installed, just update.</p>
<p>The main changes since the previous version are:</p>
<ul>
<li>Background updating of the repository index, and notification of updates to your installed applications. (Both of these features must be enabled on the preference screen).</li>
<li>Control over caching – all downloaded applications can be cached on the SD card – again, you need to enable this on the preferences screen.</li>
<li>Now in Italian and German, as well as English.</li>
</ul>
<p>As the application is developing rapidly, the translations may lag behind on new features for a while. If you want to help translate into your language, see <a href="{{ site.baseurl }}/translate">here</a>.</p>
<p>If you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a> or visit #fdroid on FreeNode.</p>
</div>