---
layout: post
title: "F-Droid Repository Alpha"
author: "F-Droid"
---

<div class="post-entry">
<p>Following on from the <a href="../repository-vapourware/index.html">earlier post</a> (read first if you don’t know what this is about), you can now try an alpha release of the software. There’s a lot of planned functionality still missing, but it’s fully functional and useful.</p>
<p><a href="{{ site.baseurl }}/wp-content/uploads/2010/10/repo1.png"><img alt="" class="alignright size-medium wp-image-262" height="300" sizes="(max-width: 200px) 100vw, 200px" src="{{ site.baseurl }}/wp-content/uploads/2010/10/repo1-200x300.png" srcset="{{ site.baseurl }}/wp-content/uploads/2010/10/repo1-200x300.png 200w, {{ site.baseurl }}/wp-content/uploads/2010/10/repo1-100x150.png 100w, {{ site.baseurl }}/wp-content/uploads/2010/10/repo1.png 320w" title="repo1" width="200"/></a></p>
<p>Source code for the application is on <a href="http://gitorious.org/f-droid/fdroidclient">Gitorious</a> and you can install the current binary release, via the <a href="{{ site.baseurl }}/repository">Repository</a> page.</p>
<p></p><p>A quick overview – open the FDroid application, press the menu key, and choose update. The lists should then be populated with the FOSS apps already in the repository. Stuff you already have will be automatically detected, and put in the ‘Installed’ tab, and the rest will go in the ‘Available’ tab.</p>
<p><span id="more-259"></span></p>
<p>Selecting any item from the list takes you to the details of that application. From there, hitting the menu key will give you the option to install and uninstall, as well as taking you (in the browser) to the application’s web site, issue tracker and source code. You can also choose to view the application in the Android Market.</p>
<p>Additionally, if there are multiple versions available, you can select that version directly in the list and install it. You would use this, for example, for installing an older version or for installing a newer beta or nightly version.</p>
<p><a href="{{ site.baseurl }}/wp-content/uploads/2010/10/repo2.png"><img alt="" class="alignright size-medium wp-image-264" height="300" sizes="(max-width: 200px) 100vw, 200px" src="{{ site.baseurl }}/wp-content/uploads/2010/10/repo2-200x300.png" srcset="{{ site.baseurl }}/wp-content/uploads/2010/10/repo2-200x300.png 200w, {{ site.baseurl }}/wp-content/uploads/2010/10/repo2-100x150.png 100w, {{ site.baseurl }}/wp-content/uploads/2010/10/repo2.png 320w" title="repo2" width="200"/></a></p>
<p>Some of the things that are missing, but coming soon (time permitting) are:</p>
<ul>
<li>Filtering of unsuitable SDK versions – e.g. if you have Android 1.6 and the app (or a version of it) requires 2.1, you won’t see it.</li>
<li>The same filtering for device capabilities – e.g. if your device doesn’t have a camera but the application NEEDS one, you won’t see it.</li>
<li>A more complete repository – there are only <s>32</s> 47 apps in there currently.</li>
<li>Searching</li>
<li>Categories</li>
<li>Lots more. Plus your suggestions and/or contributions!</li>
</ul>
<p>Comments and feedback are, of course, welcome, either in the comments here, or via OStatus – <a href="http://identi.ca/fdroid">@fdroid@identi.ca</a>.</p>
</div>