---
layout: post
title: "Client 0.28 Released"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.28, is now available. You can get it from the repository page or, if you already have an earlier version installed, just update.</p>
<p>The main changes in this release are:</p>
<ul>
<li>New Categories within the client for What’s New (apps added in the last 14 days) and Recent Updates (apps updated in the last 14 days).</li>
<li>Better theming and visuals on post-Gingerbread Android versions, tablets, etc.</li>
<li>New clean-shaven icon.</li>
<li>Lots of translation updates and new languages.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>