---
layout: post
title: "Client 0.33 Released"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.33, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Changed since 0.31:</p>
<ul>
<li>Update notifications take you straight to the updates tab.</li>
<li>Various performance improvements for slow devices. (More of these to come in the next release)</li>
<li>More efficient memory usage when updating.</li>
<li>Fixed occasional random crashes caused by database locks.</li>
<li>Packages for the same app from multiple repos are merged, rather than one repo taking priority.</li>
<li>Various translation updates and minor bug fixes.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>